.title-about {
  font-size: 60px;
}
#contain-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 20px 0;
  width: 60%;
}
#contain-about > p {
  margin: 15px;
}
